* {
	font-family: helvetica;
}

body {
	background-color: #262626;
	color: #FFFFFF;
	font-size:1.1em;
}

div {
	margin:1.5em 0;
}

#hero {
	position:relative;
	background-image: url(../../images/mmai21-7.png);
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:center;
	min-height:400px;
	max-width:100%;
	opacity:0.7;
}

a {
	text-decoration: none;
}

a, a:visited, a:hover {
	color: #FFFFFF;
}

ul {
	list-style: none;
}

/*for navigation bars:*/
nav ul{
	margin: 0;
	padding: 0;
}

nav a{
	display: block;
	color: rgb(177, 34, 34);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav li{
	float: left;
}

nav a:hover{
	background-color: #111;
}

nav, main, footer {
	clear: both;
}
